<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('partials/meta') %>

  <title><%= site.title %> | <%= page.title %></title>

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/project.css">
</head>
<body>

  <header>
    <h1><a href="/"><%= site.title %></a></h1>
  </header>


  <div class="media-content">

    <%- include('partials/youtube_loop') %>

    <div class="project-images">
      <% page.media.forEach(function(media){

        let endOfPath = media.lastIndexOf('/')
        let path = media.substring(0,endOfPath)

        let filename = media.split('/').pop().split('.')[0];
        // let extension = media.split('/').pop().split('.')[1];
        let extension = 'webp'

        //widths: 2000,1000,500

      %>

        <img 

        src="<%= media %>"

        srcset="<%=`${path}/srcset/${filename}-w2000.${extension} 2000w,
        ${path}/srcset/${filename}-w1000.${extension} 1000w,
        ${path}/srcset/${filename}-w500.${extension} 500w`%>"

        sizes="(min-width: 768px) 75vw, 100vw"

        />


      <%
      }); //close media loop
      %>


    </div>
  </div>










  <div class="project-discription">
    <!-- <h2><%= page.title %></h2> -->

    <%- body %>
    
    <% if (page.title != 'information'){ %>

      <blockquote>
      <span class="i"><%= page.title %></span> <br>
      <%= page.date %> <br>
      <%= page.materials %> <br>
      <%= page.dims %>
      </blockquote>

    <% } else {%>

      <style>
      .project-images img{
        max-width:75vw;
        max-height:50vh;
        margin-bottom: 3vh;

      }
    </style>

    <%} //close contact if%>

  </div>


  <%- include('partials/footer') %>
</body>
</html>
